## Cleaning

In [12]:
import pandas as pd
import numpy as np
import datetime

In [13]:
districts = pd.read_csv('DistrictCorrespondingZips.csv')
districts = districts.rename(columns={'ZipCode': 'ZipCode'})

In [14]:
incomes = pd.read_csv('IncomeLevels.csv')
incomes = incomes.rename(columns={'Zip Code': 'ZipCode'})

In [15]:
income_dst = pd.merge(incomes, districts, on='ZipCode', how='inner')
income_dst.columns = ['ZIPCODE', 'POPULATION', 'AVG. INCOME', 'DISTRICT']
income_dst

   ZIPCODE POPULATION  AVG. INCOME DISTRICT
0     2116     19,682  $60,467.00        D4
1     2114     10,868  $55,678.00        A1
2     2114     10,868  $55,678.00       A15
3     2122     24,548  $40,021.00       C11
4     2127     29,456  $39,625.00        C6
5     2124     50,781  $36,025.00        B3
6     2128     38,413  $31,013.00        A7
7     2128     38,413  $31,013.00        A7
8     2119     23,823  $26,120.00        B2
9     2119     23,823  $26,120.00        B2

In [35]:
weather = pd.read_csv('weather.csv')
weather_cln = weather[['DATE', 'PRCP', 'SNOW', 'TAVG', 'TMAX', 'TMIN']]
weather_cln['DATE'] = pd.to_datetime(weather_cln['DATE'], format='%Y-%m-%d').dt.date
weather_cln.head()

s:\python\3.7.7\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

         DATE  PRCP  SNOW  TAVG  TMAX  TMIN
0  2015-01-01  0.00   0.0    26    33    22
1  2015-01-02  0.00   0.0    34    41    31
2  2015-01-03  0.62   1.4    28    37    22
3  2015-01-04  0.57   0.0    38    52    35
4  2015-01-05  0.00   0.0    40    50    17

In [17]:
crime = pd.read_csv('crime.csv',encoding='latin1')
crime['SHOOTING'] = crime['SHOOTING'].replace(np.nan, 'N')
crime_cln = crime[['INCIDENT_NUMBER', 'OFFENSE_CODE_GROUP', 'DISTRICT', 'SHOOTING', 'OCCURRED_ON_DATE', 'DAY_OF_WEEK', 'HOUR', 'UCR_PART', ]]
crime_cln.head()

s:\python\3.7.7\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,INCIDENT_NUMBER,OFFENSE_CODE_GROUP,DISTRICT,SHOOTING,OCCURRED_ON_DATE,DAY_OF_WEEK,HOUR,UCR_PART
0,I182080058,Disorderly Conduct,E18,N,2018-10-03 20:13:00,Wednesday,20,Part Two
1,I182080053,Property Lost,D14,N,2018-08-30 20:00:00,Thursday,20,Part Three
2,I182080052,Other,B2,N,2018-10-03 19:20:00,Wednesday,19,Part Two
3,I182080051,Aggravated Assault,A1,N,2018-10-03 20:00:00,Wednesday,20,Part One
4,I182080050,Aircraft,A7,N,2018-10-03 20:49:00,Wednesday,20,Part Three

In [29]:
# crime_cln['OCCURRED_ON_DATE'].apply(lambda x: datetime.datetime.date(datetime.datetime.strptime(x, "%Y-%m-%d")))
crime_cln['OCCURRED_ON_DATE'] = pd.to_datetime(crime_cln['OCCURRED_ON_DATE'], format='%Y-%m-%d').dt.date
crime_cln = crime_cln.rename(columns={'OCCURRED_ON_DATE': 'DATE'})
crime_cln.head()

s:\python\3.7.7\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,INCIDENT_NUMBER,OFFENSE_CODE_GROUP,DISTRICT,SHOOTING,DATE,DAY_OF_WEEK,HOUR,UCR_PART
0,I182080058,Disorderly Conduct,E18,N,2018-10-03,Wednesday,20,Part Two
1,I182080053,Property Lost,D14,N,2018-08-30,Thursday,20,Part Three
2,I182080052,Other,B2,N,2018-10-03,Wednesday,19,Part Two
3,I182080051,Aggravated Assault,A1,N,2018-10-03,Wednesday,20,Part One
4,I182080050,Aircraft,A7,N,2018-10-03,Wednesday,20,Part Three

In [48]:
weatherCrime = pd.merge(crime_cln, weather_cln, on='DATE', how='inner')
print(weatherCrime.shape)

(327820, 13)

In [49]:
print(weatherCrime.isnull().values.any())
# null_columns=df.columns[df.isnull().any()]
# print(null_columns)
weatherCrime = weatherCrime.dropna()
print(weatherCrime.isnull().values.any())
print(weatherCrime.shape)

True
False
(325953, 13)

In [11]:
df = pd.merge(weatherCrime, incom_dst, on='DISTRICT', how='inner')
df.head()

NameError: name 'weatherCrime' is not defined